/public
/node_modules
vite.config.ts
tailwind.config.ts
postcss.config.js
.gitignore
.prettierignore
.prettierrc.json
components.json
package.json
tsconfig.json
tsconfig.node.json
vite.config.ts
svgr.config.js
svgr.d.ts